<?xml version="1.0"?>
<model>
  <name>3DR Iris</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_laser.sdf</sdf>

  <author>
   <name>Adam Dai</name>
   <email>adamdai97@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a laser scanner for ROS 2.
  </description>
</model>
